{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div>
        <div class="text-center">
        <br>
        <br>
            <h1 style="color:black;">Reset Password</h1>
        </div>
        
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        
        <div class="alert alert-danger" role="alert">
            {% for message in app.flashes('mailnotfound') %}
                {{ message }}
            {% endfor %}
        </div>
        
        <div class="text-center">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, { 'attr': {'placeholder': 'Enter your email'} }) }}
            <button class="btn btn-primary mt-3">Send Email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
