{% extends 'baseBack.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    {{ form_start(form, {'attr': {'class': 'custom-form'}}) }}
                    <h2 class="text-dark mb-4">Register</h2>

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.date_naissance) }}
                        {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.img) }}
                        {{ form_widget(form.img) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword) }}
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.genre) }}
                        {{ form_widget(form.genre) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.role) }}
                        {{ form_widget(form.role) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.agreeTerms) }}
                        {{ form_widget(form.agreeTerms) }}
                    </div>
                    
                    

                    <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
                {{ form_end(form) }}
    <div align = "center">
    {{ include('Admin/_delete_form.html.twig') }}
    </div>
    <div align = "right">
        <a href="{{ path('app_index') }}">
        <button type="button" class="btn btn-dark btn-rounded btn-fw">back to list</button>
        </a>
    </div>

    
{% endblock %}
